
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome to Pooya Pizza</h1>
	<img  width="50% "src="https://www.refrigeratedfrozenfood.com/ext/resources/NEW_RD_Website/DefaultImages/default-pizza.jpg?1430942592"/>
	<br/>
	<a class="btn btn-info"  asp-controller="Menu" asp-action="Index">See all products</a>
</div>
